@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: transparent;
  }

.body {
    background-image: url('./assets/background.jpg'); /* Replace with the path to your actual image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  }


 
.box {
    margin: 0.25em;
    position: relative;
    width: 77.6mm;
    height: 160.7mm;
    background-image: radial-gradient(#ccc,#666,#222);
    border-radius: 50px;
    box-shadow: 5px 10px 20px rgb(0 0 0 / 0.8);
    transform: scale(0.9);
  
  }
  
  
  
  .camera {
    position: absolute;
    width: 16px;
    height: 16px;
    background: radial-gradient(#240fe1,#141731,#2552c6);
    border-radius: 50%;
    top: 27px;
    opacity: 0.5;
    left: 170px;
    z-index: 12;
  }
  
  .inner {
    position: absolute;
    inset: 3px;
    border-radius: 48px;
    background:black;
    background-size: cover;
    background-position: center;
    border: 10px solid #000;
    display: flex;
    justify-content: center;
    transition: 0.5s;
  }
  
  .btn {
    position: absolute;
    top: 110px;
    left: -1px;
    width: 1.5px;
    height: 26px;
    background: radial-gradient(#656565,#3b3b3b,#363636);
    border-radius: 4px 0 0 4px;
    z-index: 10;
  }
  
  .btn.btn2{
    top: 160px;
    height: 40px;
  }
  
  .btn.btn3{
    top: 210px;
    height: 40px;
  }
  
  .btn.rightBtn {
    top: 170px;
    height: 50px;
    left: unset;
    right: -1px;
    border-radius: 0 4px 4px 0; 
    background: radial-gradient(#353535,#222222,#404040);

  }
  
  .island-popup {
    position: absolute;
    top: 10px;
    width: 90px;
    height: 25px;
    background: #000;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .calculator{
    width: 80%;
    height: 80%;
  }





  .battery-icon {
    position: absolute;
    top: 14px;
    right: 20px;
    display: flex;
    align-items: center;
  }
  
  .battery-icon svg {
    width: 18px;
    height: 16px;
    fill: none;
    stroke: white;
    stroke-width: 2px;
  }
  
  .battery-icon rect:last-child {
    fill: white;
  }



  .wifi-bar {
    position: absolute;
    top: 15px;
    right: 43px;
    display: flex;
    align-items: center;
  }
  
  .wifi-bar svg {
    width: 12px;
    height: 12px;
    fill: none;
    stroke: white;
    stroke-width: 2px;
  }


  .signal-bar {
    position: absolute;
    top: 18px;
    right: 61px;
    display: flex;
    align-items: center;
  }
  
  .signal-bar svg {
    width: 12px;
    height: 12px;
    fill: none;
    stroke: white;
    stroke-width: 2px;
  }

  .time{
    position: absolute;
    bottom: -2px;
    right: 150px;
    color: white;
    font-size: 12px;
  }


  